.App {
  text-align: center;
}

h1 {
  padding-top: 8vh;

  font-style: normal;
  font-weight: normal;
  font-size: 8vw;
  line-height: 136px;
  display: flex;
  justify-content: center;
  color: #000000;
  margin: 0;
  padding-bottom: 2vh;
}
.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
.backGround {
  height: 40vh;
  width: 100vw;
  background: url(./img/bg..png) no-repeat center center;
}
